# Variables

In [1]:
a = 10
b = 5.5
c = "ML"

In [2]:
a,b,c = 10, 5.5 , "ML"

In [3]:
a = b = c = "AI"

# Storage Location

In [6]:
x = 3
print(id(x))

1350165266736

In [7]:
y = 3
print(id(y))

1350165266736

In [9]:
y = 2
print(id(y))

1350165266704

# Data Types

In [10]:
a = 5
print(a,"is of type :" ,type(a))

5 is of type : <class 'int'>

In [11]:
a = 2.5
print(a,"is of type :" ,type(a))

2.5 is of type : <class 'float'>

In [12]:
a = 1+5j
print(a,"is of type :" ,type(a))

(1+5j) is of type : <class 'complex'>

In [ ]:
# isinstance Is Boolean check

In [15]:
a = 1+5j
print(a,"is complex?")
print(isinstance(1+5j,complex))

(1+5j) is complex?
True

In [16]:
a = 1+5j
print(a,"is complex?")
print(isinstance(1+5j,float))
print(type(a))

(1+5j) is complex?
False
<class 'complex'>

# Python String

In [17]:
s = "This is AI"
print(s)

This is AI

In [21]:
s = 'This is AI'
print(type(s))

<class 'str'>

In [25]:
s = """"This is AI 
    course"""
print(s)
print(type(s))

"This is AI
    course
<class 'str'>

In [26]:
s = '''This is AI 
    course'''
print(s)
print(type(s))

This is AI
    course
<class 'str'>

In [22]:
print(s[0])

T

In [23]:
print(s[1])

h

In [28]:
print(s[2:])

is is AI
    course

In [29]:
print(s[:2])

Th

In [30]:
print(s[-1])

e

In [31]:
print(s[:-2])

This is AI
    cour

In [32]:
print(s[:1])

T

# Python List

lists are mutable i.e can be edited and within [ ] brackets

In [33]:
a= [10,20,30,40.5,"hi"]
print(a[1])

20

In [35]:
a[1]=40
print(a)

[10, 40, 30, 40.5, 'hi']

# Python Tuple

Tuples are immutable and within ( ) brackets

In [36]:
t = (1,2,3,"hi")
print(t)

(1, 2, 3, 'hi')

In [41]:
t = (1,2,3,"hi")
print(t[1])

2

In [39]:
t[1]= 4 #cant edit the tuple

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is unordered collection of unique items and set options can be perfomed on them and within { } brackets

In [42]:
a ={10,20,30,40,50}
print(a)

{50, 20, 40, 10, 30}

In [43]:
a ={10,20,30,40,50}
print(type(a))

<class 'set'>

In [45]:
print(a[1]) # unordered so doenst know who has value 1

TypeError: 'set' object is not subscriptable

# Python Dictionary

key value:pair where key value can be of any type

In [46]:
d = {'a': "apple" , 'b' : "banana"}
print(d)

{'a': 'apple', 'b': 'banana'}

In [49]:
print(d[1])

KeyError: 1

In [50]:
print(d['b'])

banana

# Conversion of Data Types

In [51]:
float(5)

5.0

In [52]:
int(100.5)

100

In [53]:
str(20)

'20'

In [56]:
int(10p)

SyntaxError: invalid decimal literal (1621632851.py, line 1)

In [57]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [59]:
user="Ather"
lines=100
print("congo, " + user + "! you juts wrote " + str(lines) + " lines of code")

congo, Ather! you juts wrote 100 lines of code

Canot concate str and int

In [60]:
user="Ather"
lines=100
print("congo, " + user + "! you juts wrote " + lines + " lines of code")

TypeError: can only concatenate str (not "int") to str

In [61]:
#list to set conversion
a = [1,2,3]
print(type(a))

s = set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [62]:
a = "Hello"
l = list(a)
print(l)

['H', 'e', 'l', 'l', 'o']