# Lists

1.Mutable i.e can be changed
2.Sequential
3.Collection of items
4.[ ]
5.Each item has index value

In [91]:
lst0=[]  #empty list

lst1=['one','two','three']  #list of strings

lst2=[1,2,3]  #list of integers

lst3=[[1,2],[3,4]]  #list of list

lst4=[1,"hi",24,1.24] #list of differnt datatypes

lst5=[1,2,3,(2,3),"bc"] #nested list

print(lst5)

[1, 2, 3, (2, 3), 'bc']

# List Length

In [7]:
lst=['one','two','three']
print(len(lst))

3

# Accessing Elements in List/Indexing

In [92]:
lst=['one','two','three']
print(lst[1])

two

# List Append

In [9]:
lst=['one','two','three']
lst.append('four') #append at the end
print(lst)

['one', 'two', 'three', 'four']

# List Insert

In [106]:
lst=['one','two','four']
lst.insert(2,'three') #adding elem at index 2
print(lst)

#Item Assignment

lst2=[3,1,6,2,8,2.3]
lst2[0]=1
print(lst2)

['one', 'two', 'three', 'four']
[1, 1, 6, 2, 8, 2.3]

# List Remove

In [11]:
lst=['one', 'two', 'three', 'four','two']
lst.remove('two') #removes ist occurance of two
print(lst)

['one', 'three', 'four', 'two']

# List Append
Appends 2 Lists to Make bigger list within list

In [12]:
lst1=['one', 'two', 'three', 'four']
lst2=['five','six']
lst1.append(lst2)
print(lst1)

['one', 'two', 'three', 'four', ['five', 'six']]

# List Extend
Add Elemnts of 2nd List to Ist List

In [14]:
lst1=['one', 'two', 'three', 'four']
lst2=['five','six']
lst1.extend(lst2)
print(lst1)

['one', 'two', 'three', 'four', 'five', 'six']

# List Delete

In [15]:
lst=['one', 'two', 'three', 'four']
del lst[1] #index 1 elem removed
print(lst)

['one', 'three', 'four']

In [17]:
lst=['one', 'two', 'three', 'four']
a = lst.pop(1) #reurns the item it removes
print(a)

two

In [19]:
lst=['one', 'two', 'three', 'four']
lst.pop(1) #reurns the item it removes
print(lst)

['one', 'three', 'four']

In [68]:
lst=['one', 'two', 'three', 'four','two']
lst.remove('two') #sedhai Ist elem
print(lst)

['one', 'three', 'four', 'two']

# List Realted Keywords in Python

In [24]:
lst=['one','two','three', 'four']

if 'two' in lst:
    print("AI")
else:
    print("NO AI")

if 'Six' not in lst:
    print("ML")

AI
ML

# List Reverse

In [25]:
lst=['one','two','three', 'four']
lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

# List Sorting

In [28]:
lst=[3,1,6,2,8]
sorted_lst=sorted(lst)
print("Sorted list :",sorted_lst) #ascendiing order
print("Original List:",lst)

Sorted list : [1, 2, 3, 6, 8]
Original List: [3, 1, 6, 2, 8]

In [32]:
lst=[3,1,6,2,8]
sorted_lst=sorted(lst,reverse=True) #descending order
print("Reverse Sorted list :",sorted_lst)
print("Original List:",lst)

Reverse Sorted list : [8, 6, 3, 2, 1]
Original List: [3, 1, 6, 2, 8]

In [35]:
lst=[3,1,6,2,8,2.3]
lst.sort()
print(lst)

[1, 2, 2.3, 3, 6, 8]

In [36]:
lst=[3,1,6,2,8,2.3,'a']
lst.sort()
print(lst)

TypeError: '<' not supported between instances of 'str' and 'int'

# List Having Multiple Refrences

In [39]:
lst=[1,2,3,4,5]
abc=lst
abc.append(6)
print(abc)
print(lst)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# String Split to Create a List

In [40]:
s="one,two,three,four"
slst=s.split(',')
print(slst) #returns list

['one', 'two', 'three', 'four']

In [41]:
s="one:two:three:four"
slst=s.split(':')
print(slst) #returns list

['one', 'two', 'three', 'four']

In [43]:
s ="this is the introduction to AI ML"
slst=s.split() #space or tab pai 
print(slst)

['this', 'is', 'the', 'introduction', 'to', 'AI', 'ML']

# list Indexing

In [95]:
lst =[1,2,3,4,5]
print(lst[1])
print(lst[-1])

#list inside the list

lst2=[1,2,3,4,5,[2,3]]
print(lst2[5])

2
5
[2, 3]

# List Slicing

In [55]:
lst=[1,2,3,4,5,6,7,8,9,10]
print(lst[:])
print(lst[:3])     #n-1
print(lst[0:4])
print(lst[0:9:2]) #start,stop,step size
print(lst[::1])   #start,stop,step size
print(lst[2::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 6, 9]

# List Extend Using "+"

In [65]:
lst1=[1,2,3,4,5]
lst2=['hi','hello','how','are']
new_list=lst1+lst2
print(new_list)

#append -> list within list add 
lst1.append(lst2)
print(lst1)

[1, 2, 3, 4, 5, 'hi', 'hello', 'how', 'are']
[1, 2, 3, 4, 5, ['hi', 'hello', 'how', 'are']]

In [67]:
lst1=[1,2,3,4,5]
lst2=['hi','hello','how','are']


#extend
lst1.extend(lst2)
print(lst1)

[1, 2, 3, 4, 5, 'hi', 'hello', 'how', 'are']

In [98]:
lst=["ather"]*4
print(lst)

['ather', 'ather', 'ather', 'ather']

# List Count

In [100]:
lst=[1,2,3,4,5,6,7,8,1,9,1]

#frequency of 1 in lst

print(lst.count(1))

print(len(lst))

print(lst.count(9))

print(lst.count(10))

3
11
1
0

# List looping

In [74]:
lst =['one','two','three','four']

for elem in lst:
    print(elem)

one
two
three
four

# List Comprehensions

In [75]:
#without list Comprehension
squre=[]
for i in range(10):
    squre.append(i**2)
print(squre)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
#using list Comprehension
squre=[i**2 for i in range(10)]
print(squre)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
lst =[-10,-20,10,20,50]

#create new list with values doubled
new_list=[i*2 for i in lst ]
print(new_list)


#filter the list exculding the -ve no
new_list2=[i for i in lst if i>0]
print(new_list2)

#create  a list of tuples like (no, sq_of_no)
new_list3=[(i,i**2) for i in range(10)]
print(new_list3)

new_list3=[(i,i**2) for i in lst if i>0]
print(new_list3)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]
[(10, 100), (20, 400), (50, 2500)]

# Nested List Comprehension
TRANSPOSE OF MATRIX

In [87]:
#without list comprehension

matrix=[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
       ] 
#matrix as list of lists

#transpose of matrix without list comprehension
transposed_matrix=[]
for i in range (4): #4 columns
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed_matrix.append(lst)
print(transposed_matrix)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [89]:
#with list comprehension
transposed_matrix=[[row[i] for row in matrix] for i in range(4)]
print(transposed_matrix)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# MISC

In [102]:
lst=[3,1,6,2,8,2.3]
print(max(lst))
print(min(lst))
print(sum(lst))

8
1
22.3

[1, 1, 6, 2, 8, 2.3]