# Tuples

1.Imutable i.e can't be changed
2.Sequential
3.Collection of items
4.()
5.Each item has index value
6.END WITH COMMA

In [3]:
t=() #empty Tuple

t=(1,2,3) #tuple with integers
print(t)

t=(1,'hi',28,'hello') #tuple with mixed datatypes
print(t)

t=(1,(2,3,4),[1,2,'Hi',28]) #nested tuples 
print(t)

(1, 2, 3)
(1, 'hi', 28, 'hello')
(1, (2, 3, 4), [1, 2, 'Hi', 28])

In [9]:
t2=("hi",) #comma at end is must for tuple
type(t2)

tuple

In [12]:
t2="hi", #comma at end is must for tuple
type(t2)

tuple

In [18]:
t2=("hi","hello") #min two elem for tuple
type(t2)

tuple

In [15]:
t=("hi")
type(t)

str

In [14]:
t2="hi"
type(t2)

str

# Tuple Length

In [19]:
t=(1,2,3)
print(len(t))

3

# Accessing Elements in Tuple / Indexing

In [21]:
t=(1,2,3,4,5,6)
print(t[1])
print(t[-1])

2
6

In [26]:
#tuple inside the tuple
t=(1,2,(3,4,5))
print(t[1]) 
print(t[2])

2
(3, 4, 5)

# Slicing

In [41]:
t=(1,2,3,4,5,6,7,8)
print(t[1])
print(t[:2]) #n-1
print(t[0:2])
print(t[1:3])
print(t[-2])
print(t[:-2]) #start sai n-1
print(t[:])
print(t[0:8:2])

2
(1, 2)
(1, 2)
(2, 3)
7
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 3, 5, 7)

# Changing a Tuple

Unlike List Tuple are immutable

In [42]:
t=(1,2,3,4,5,6,7,8)
t[1]='x'
t[2]=0

TypeError: 'tuple' object does not support item assignment

In [44]:
t=(1,2,3,4,5,6,7,8,[9,'Hi',10])
t[8][1]='Hello'
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, [9, 'Hello', 10])

# Concatinate Tuple

In [45]:
t=(1,2,3)+(4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [46]:
t=(("ather",)*4)
print(t)

('ather', 'ather', 'ather', 'ather')

# Tuple Deletion

we cannot change/delete the elements in tuple

In [49]:
t=(1,2,3,4,5,6,7,8)
del t  #deletes everything
print(t)

NameError: name 't' is not defined

# Tuple Count

In [59]:
#counts how many times 1 exts /frequency
t=(1,2,3,4,5,6,7,8,1)
print(t.count(1))

2

# Tuple Sort

In [53]:
t=(3,1,6,2,8,2.3)
t_new=sorted(t)
print(t_new)

[1, 2, 2.3, 3, 6, 8]

In [70]:
t=(3,1,6,2,8,2.3)
print(t.sort())

# it does not work becoz immutable

AttributeError: 'tuple' object has no attribute 'sort'

# Tuple Index

In [66]:
t=(3,1,6,2,8,2.3)
print("element at index 0 :" ,t[0])
print("element at index 1 :" ,t[1])

#gives the index no the elemnt comes first in tuple
print(t.index(3))
print(t.index(6))
print(t.index(2.3))

element at index 0 : 3
element at index 1 : 1
0
2
5

# Tuple Memebership

In [69]:
#returns boolean
t=(3,1,6,2,8,2.3)
print (1 in t)
print (2 in t)
print (9 in t)

True
True
False

# MISC

In [72]:
t=(3,1,6,2,8,2.3)
print(max(t))
print(min(t))
print(sum(t))

8
1
22.3