# Introduction

Data frame is the main object in pandas.It is used to representdata with rows and columns

In [2]:
import pandas as pd

#read csv data
df=pd.read_csv("nyc_weather.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [3]:
#get maximum temp
df["Temperature"].max()

50

In [4]:
#to know which day it rains
df["EST"][df["Events"]=="Snow"]
#getting dates][where event = snow]

17    1/18/2016
21    1/22/2016
23    1/24/2016
Name: EST, dtype: object

In [5]:
#to know which day it rains
df.EST[df.Events=="Snow"]
#getting dates][where event = snow]

17    1/18/2016
21    1/22/2016
23    1/24/2016
Name: EST, dtype: object

In [48]:
#average wind speed 
df["WindSpeedMPH"].mean()

6.892857142857143

In [49]:
df[df.Temperature==df.Temperature.max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [3]:
#manual entry
import pandas as pd
india_weather=pd.DataFrame({
    "City":["Mumbai","Delhi","Banglore"],
    "Temperature":[30,31,32],
    "Humidty":[80,90,100]
    })
india_weather

       City  Temperature  Humidty
0    Mumbai           30       80
1     Delhi           31       90
2  Banglore           32      100

In [19]:
#Manual data (tuples) --> list of tuples

weather_data=[('1/1/2016','38','23','52','30.03'),
              ('1/2/2016','36','18','46','30.02'),
              ('1/3/2016','40','21','47','29.86'),
              ('1/4/2016','25','9','44','30.05')
             ]
df=pd.DataFrame(weather_data,columns=['EST','Temperature','DewPoint','Humidity','Sea Level PressureIn'])
df

        EST Temperature DewPoint Humidity Sea Level PressureIn
0  1/1/2016          38       23       52                30.03
1  1/2/2016          36       18       46                30.02
2  1/3/2016          40       21       47                29.86
3  1/4/2016          25        9       44                30.05

In [32]:
df.shape  #4rows 5col

(4, 5)

In [22]:
df.head() #first few rows

        EST Temperature DewPoint Humidity Sea Level PressureIn
0  1/1/2016          38       23       52                30.03
1  1/2/2016          36       18       46                30.02
2  1/3/2016          40       21       47                29.86
3  1/4/2016          25        9       44                30.05

In [24]:
df.tail() #last few rows

        EST Temperature DewPoint Humidity Sea Level PressureIn
0  1/1/2016          38       23       52                30.03
1  1/2/2016          36       18       46                30.02
2  1/3/2016          40       21       47                29.86
3  1/4/2016          25        9       44                30.05

# Slicing

In [25]:
df[2:5]

        EST Temperature DewPoint Humidity Sea Level PressureIn
2  1/3/2016          40       21       47                29.86
3  1/4/2016          25        9       44                30.05

In [26]:
df.columns #printcolums in a table

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn'], dtype='object')

In [29]:
df.EST #print particular column data

0    1/1/2016
1    1/2/2016
2    1/3/2016
3    1/4/2016
Name: EST, dtype: object

In [34]:
#or
df['EST']

0    1/1/2016
1    1/2/2016
2    1/3/2016
3    1/4/2016
Name: EST, dtype: object

In [37]:
#get 2 or more columns
df[["EST","DewPoint"]]

        EST DewPoint
0  1/1/2016       23
1  1/2/2016       18
2  1/3/2016       21
3  1/4/2016        9

In [38]:
#get all temp
df["Temperature"]

0    38
1    36
2    40
3    25
Name: Temperature, dtype: object

In [39]:
#max
df["Temperature"].max()

'40'

In [40]:
#min
df["Temperature"].min()

'25'

In [41]:
df["Temperature"].describe()

count      4
unique     4
top       38
freq       1
Name: Temperature, dtype: object

# Selecting Entire Row with Max Tempratures

In [43]:
df[df.Temperature==df.Temperature.max()]
#df[returns row no whose temp is max]

        EST Temperature DewPoint Humidity Sea Level PressureIn
2  1/3/2016          40       21       47                29.86

In [51]:
#give only day of that column

df.EST[df.Temperature==df.Temperature.max()]

9    1/10/2016
Name: EST, dtype: object

# Without Pandas

In [13]:
_parsed_rows = []

def parse_csv():
    import csv
    _file_path = "nyc_weather.csv"

    global _parsed_rows
    with open(_file_path, "r") as f:
        reader = csv.reader(f, delimiter=',')
        next(reader)
        for row in reader:
            _parsed_rows.append({
                'date':  row[0],
                'temperature': row[1],
                'DewPoint': row[2],
                'Humidity': row[3],
                'Sea_Level_PressureIn': row[4],
                'VisibilityMiles': row[5],
                'WindSpeedMPH': row[6],
                'PrecipitationIn': row[7],
                'CloudCover': row[8],
                'Events': row[9],
                'WindDirDegrees': row[10]
            })
            
def get_max_temperature():
    max_temp = 0
    for row in _parsed_rows:
        if int(row['temperature']) > max_temp:
            max_temp = int(row['temperature'])
    return max_temp

def get_days_of_rain(event):
    days = []
    for row in _parsed_rows:
        if row['Events'] == event:
            days.append(row['date'])
    return days

def get_avg_wind_speed():
    total = 0
    count = 0
    for row in _parsed_rows:
        speed = 0 if row['WindSpeedMPH']=='' else int(row['WindSpeedMPH'])
        total += speed
        count += 1
    return float(total/count)

if __name__ == '__main__':
    parse_csv()
    
    print("Max Temperature is : " + str(get_max_temperature()))
    print("Days of rain : " + str(get_days_of_rain('Rain')))
    print("Average wind speed is : " + str(get_avg_wind_speed()))

Max Temperature is : 50
Days of rain : ['1/9/2016', '1/10/2016', '1/16/2016', '1/27/2016']
Average wind speed is : 6.225806451612903